.main {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 50px;
    background-color: #55c5ff;
}

.container {
    width: 728px;
    height: 212px;
    padding: 30px 0;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #73ccfb;;
    border-radius: 8px;
}

.empty {
    position: relative;
    width: 100%;
    height: 200px;
}

.opener {
    height: 75%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.message {
    margin: 0 auto;
    padding-top: 30px;
    font-size: 36px;
}

.button {
    height: 44px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 700;
    text-shadow: 0 1px 1px #fff8c4;
    box-shadow: rgba(99,121,133,.14) 0 0 0 4px;
    color: #0e509e;
    border-radius: 4px;
    border: none;
    background-color: #ffde0e;
    border-top: 1px solid #fff696;
    border-bottom: 1px solid #ffce06;
}